<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<body>
<form id = "loginform">
    <h3>Account Creation</h3>
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label  for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label  for="pass">Password:</label><br>
    <input type="text" id="pass" name="pass"><br>
    <label  for="Cpass">Confirm Password:</label><br>
    <input type="text" id="Cpass" name="Cpass"><br>

    <input type = "submit" value ="submit">
</form>
</body>