<!DOCTYPE html>
<html id=homepage>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="homepage_script.js"></script>



<!-- ik this looks real scrappy but ill sort it out :) -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
         just dont crash  :)
    </h1>
    
    <div class=logo_container>
        <img src=img/account_icon.png  class=logo_img>
        <!-- <div class=under_logo>x</div>     INSERT TEXT HERE FOR SOMETHING UNDER ACC PIC-->
        <div class=logo_overlay>
            <div class=logo_text>
                <button class=acc_button onclick="window.location.href='Login.html';">ACCOUNT</button>
            </div>
        </div>
    </div>
</div>




<!-- Gonna have a menu past here can always change it  -->

<div class="tabs">
    <button class="tab_links" onclick="openTab(event, 'tab1')">Home</button>
    <button class="tab_links" onclick="openTab(event, 'tab2')">Courses</button>
    <button class="tab_links" onclick="openTab(event, 'tab3')">Marks</button>
    <button class="tab_links" onclick="openTab(event, 'tab4')">tab4</button>
    <button class="tab_links" onclick="openTab(event, 'tab5')">tab5</button>
    <button class="tab_links" onclick="openTab(event, 'tab6')">tab6</button>

    <div id=tab1 class=tab_content>
        <p1>

            <div class=home_content>
                Hello and welcome to this really valuable course, here you will learn many things :)
                <br/>
                all of wich are in the next tab.
                <br/>
                please enjoy.
            </div>
        </p1>
    </div>

    <div id=tab2 class=tab_content>
        <p1>
            <div class="courses_content" >
                <button onclick="window.location.href='Module_1.html';">
                    Module_1, Simple, dont crash
                </button>
                <button onclick="window.location.href='Module_1.html';">
                    Module_2, get insurance info
                </button>
                <button onclick="window.location.href='Module_1.html';">
                    Module_3, when should i hit and run?
                </button>
            </div>
            

            
        </p1>
    </div>

    <div id=tab3 class=tab_content>
        <p1>
            Yep, thats a 0%, sorry bud
        </p1>
    </div>

    <div id=tab4 class=tab_content>
        <p1>
            Tab 4, wow thake it all in
        </p1>
    </div>
    
    <div id=tab5 class=tab_content>
        <p1>
            bofa :)
        </p1>
    </div>

    <div id=tab6 class=tab_content>
        <p1>
            i have no clue why we would need 6 but we have 6 tabs
        </p1>
    </div>
    
</div>
<br>
<div>
    <p>Ignore <a href="/"> this </a></p>
</div>

</html>