<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="module_style.css">
<script src="java.js"></script>



<!-- navbar -->
<div class="navbar">
    <a href="Homepage.html">Home</a>
    <a href="Homepage.html">Modules</a>
    <a href="Login.html" style="float: right;">Log In</a>
    <a href="Login.html" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>
<br>
<body>
<div class="yup">
.
<br/>
</div>

<div class="no">
    ds
    <br/>    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

</div>
</body>

<!-- Footer -->
<div class="footer">
    <p>
        foooter  - this is only here for style, might add some quick links there later or something
    </p>
</div>

</html>