<!DOCTYPE html>
<html id=homepage>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="java.js"></script>



<!-- ik this looks real scrappy but ill sort it out :) -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
         Module 1
    </h1>
    
    <div class=logo_container>
        <img src=img/account_icon.png  class=logo_img>
        <!-- <div class=under_logo>x</div>     INSERT TEXT HERE FOR SOMETHING UNDER ACC PIC-->
        <div class=logo_overlay>
            <div class=logo_text>
                <button class=acc_button onclick="window.location.href='Login.html';">ACCOUNT</button>
            </div>
        </div>
    </div>
</div>



