<!DOCTYPE html>
<html id=homepage>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<script src="java.js"></script>




<!-- HEADER, probably gonna be on every page -->
<button onclick="window.location.href='Homepage.html';"> back</button>
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
         just dont crash  :)
    </h1>
    
    <div class=logo_container>
        <a href="Login.html">
            <img src=img/account_icon.png  class=logo_img>
        </a>       
    </div>
</div>


<!--  -->
   
    