<!DOCTYPE html>
<html id=format_text>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='java/homepage_script.js')}}"></script>
  </head>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="Module_1">Modules</a>
      <a href="/Login" style="float: right;">Log In</a>
      <a href="/CreateAccount" style="float: right;">Register</a>
    
    </div>
</div>
<div class="loginHead">
  <h1>Create Account</h1>
  </div>
<body>
<form action ="" method="post"  id = "loginform">
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname"  value = "{{ request.form.fname }}"><br>
    <label  for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname"  value = "{{ request.form.lname }}"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"  value = "{{ request.form.email }}"><br>
    
    <label  for="password">Password:</label><br>
    <input type="password" id="papasswordss" name="password" value = "{{ request.form.password }}"><br>
    <label  for="Cpass">Confirm Password:</label><br>
    <input type="password" id="Cpass" name="Cpass" value = "{{ request.form.Cpass }}"><br>
    <br>
    <input type = "submit" value ="Create Account"><br>
</form>
<br>

{% if error %}
<p class="Password don't match!"> Error: {{ error }}
{% endif %}
</body>
</html>