<!DOCTYPE html>
<html>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<body  id = "loginform">
<form action ="" method="post">
    <h3>Account Creation</h3>
    <label for="fname">First Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label  for="lname">Last Name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    
    <label  for="password">Password:</label><br>
    <input type="password" id="papasswordss" name="password" value = "{{ request.form.password }}"><br>
    <label  for="Cpass">Confirm Password:</label><br>
    <input type="password" id="Cpass" name="Cpass" value = "{{ request.form.Cpass }}"><br>
    <br>
    <input type = "submit" value ="Create Account"><br>
</form>
<br>

{% if error %}
<p class="Password don't match!"> Error: {{ error }}
{% endif %}
</body>