<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='java/homepage_script.js')}}"></script>
</head>



<!-- navbar -->
<div class="navbar">
    <a href="/">Home</a>
    <a href="/Login" style="float: right;">Log In</a>
    <a href="/CreateAccount" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!-- Menu system, can always change this  -->
<body onload="openTab(event, 'tab1')"></body>
<div class="tabs" >
    <button class="tab_links" onclick="openTab(event, 'tab1')">Home</button>
    <button class="tab_links" onclick="openTab(event, 'tab2')">Courses</button>
    <button class="tab_links" onclick="openTab(event, 'tab3')">Tests</button>
    <button class="tab_links" onclick="openTab(event, 'tab4')">Marks</button>


    <div id=tab1 class=tab_content>
        <p1>

            <div class=home_content>
                <br/>
                Hello and welcome to this really valuable course on car class conserving and accident avoidance
                <br/>
                There are two modules and a final exam.
                <br/>
                please enjoy.
            </div>
        </p1>
    </div>


    <div id=tab2 class=tab_content>
        <p1>
            <div class="courses_content" >
                <button onclick="window.location.href='Module_1';">
                    Module 1: Accident Avoidance
                </button>
                <button onclick="window.location.href='Module_2';">
                    Module 2: What to do after the collision
                </button>
                <button onclick="window.location.href='Module_3';">
                    Module 3: Final exam page
                </button>
                
            </div>
        </p1>
    </div>

    <div id=tab3 class=tab_content>
        <p1>
            <div class="courses_content" >
                <button onclick="window.location.href='Test_1';">
                    Test 1: Simple, dont crash
                </button>
                <button onclick="window.location.href='Test_1';">
                    Test 2: get insurance info
                </button>
                <button onclick="window.location.href='Test_1';">
                    Test 3: Final Exam
                </button>

            </div>
        </p1>
    </div>

    <div id=tab4 class=tab_content>
        <p1>
            
            
            <div class="courses_content" >

                {% if a1 | length == 0 %}
                 Please complete test 1 to see marks <br><br>
                {% else %}
                  Test 1: {{c1}} /3 <br><br>
                {% endif %}

                {% if a2 | length == 0 %}
                 Please complete test 2 to see marks <br><br>
                {% else %}
                  Test 2: {{c2}} /3 <br><br>
                {% endif %}

                {% if a3 | length == 0 %}
                 Please complete test 3 to see marks <br><br>
                {% else %}
                  Test 3: {{c3}} /5 <br><br>
                {% endif %}


            </div>
        </p1>
    </div>

    
</div>
<br>



<!-- Footer -->
<div class="footer">
    <p>
        foooter  - this is only here for style, might add some quick links there later or something
    </p>
</div>

</html>