<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<script src="{{url_for('static', filename='homepage_script.js')}}"></script>
<title> CITS3403 PROJECT    X </title>

<!-- navbar -->
<div class="navbar">
    <a href="Homepage.html">Home</a>
    <a href="Module_1.html">Modules</a>
    <a href="Login.html" style="float: right;">Log In</a>
    <a href="Login.html" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
</div>

<body>

    <main>
        {% block content %}{% endblock %}


    </main>



</body>



</html>