<!DOCTYPE html>
<html id=format_text>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='java/homepage_script.js')}}"></script>
  </head>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="Module_1">Modules</a>
      <a href="/Login" style="float: right;">Log In</a>
      <a href="/CreateAccount" style="float: right;">Register</a>
    
    </div>
<div class="loginHead">
  <h1>Account Login</h1>
</div>
<body>
<form action ="" method="post" id = loginform>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value = "{{ request.form.email }}"> <br>

    <label  for="pass">Password:</label><br>
    <input type="password" id="pass" name="pass"value = "{{ request.form.pass }}"><br>
    <input type="checkbox" onclick="myFunction()">Show password<br>

    <input type = "submit" value ="Login">
    <input type = "button" value ="Create Account"  onclick = myFunction2()>
</form>
<script>
    function myFunction2() {
        window.location.href="CreateAccount"
    }
    function myFunction() {
      var x = document.getElementById("pass");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
</script>
{% if error %}
<p class="incorrect email or password"> Error: {{ error }}
{% endif %}

</body>
</html>