<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/module_style.css')}}">
<script src="{{url_for('static', filename='java/java.js')}}"></script>

<div class="navbar">
    <a href="/">Home</a>
    <a href="Module_1">Module 1</a>
    <a href="Module_2">Module 2</a>
    <a href="Module_3">Module 3</a>

    <a href="Login" style="float: right;">Log In</a>
    <a href="Login" style="float: right;">Register</a>

</div>
