<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/module_style.css')}}">
<script src="{{url_for('static', filename='java/java.js')}}"></script>



<!-- navbar -->
<div class="navbar">
    <a href="Homepage.html">Home</a>
    <a href="Homepage.html">Module 1</a>
    <a href="Homepage.html">Module 2</a>
    <a href="Homepage.html">Module 3</a>

    <a href="Login.html" style="float: right;">Log In</a>
    <a href="Login.html" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>

<br>
<body>
<div class="yup">
.
<br/>
</div>

<div class="no">
    <div class="m1_head">
        Module 1: Accident Avoidance
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/inside1.jpg')}}" alt="inside car image">

    </div>

    <div class="info">
        <div class="sub_head">
            Slow Down!
        </div>
        Speeding is defined as driving at a speed over the posted speed limit or at a speed that is inappropriate given the driving conditions 
        <br>
        (for example rain, fog, traffic volume, traffic flow and so on).

        <br>
        <br>
        The potential consequences of speeding are just not worth the risk, and include:
        <ul>
            <li>
                killing or injuring yourself, loved ones or other innocent road users in a crash

            </li>
            <li>
                paying for fines and car repairs

            </li>
            <li>
                losing points or your licence.

            </li>
        </ul>
        Speed limits are set and enforced for a reason – to save lives and reduce crashes.
        <br>
        <br>
        <div class="sub_head">
            Let others pass
        </div>
        Defensive driving means letting others go ahead-not defending your position in traffic.
        <br>
        Avoid the urge to be a vigilante (“Oh yeah? Let me show you what it’s like to be cut off like that!”)
        <br>
        Accept the fact that someone is always going to think they’re in more of a hurry than you. 
        <br>
        These are the drivers you want to move far away from, not to ‘teach them a lesson.’
        <br>
        <br>
        <div class="sub_head">
            Wear a seatbelt
        </div>
        This is a must. By law in many countries, all cars must have a safety restraint. <br>
        Buckling up only takes a second and can save your life in an accident. <br>
        Children should always be in a booster seat or car seat until they are tall enough and heavy enough to sit by themselves. <br>
        This generally includes children age seven and under.<br>
        Never put a child in a car or booster seat in the front passenger seat or other seats with airbags.<br>
        Children should generally be seven and older when sitting in the front passenger seat.
        <br>
        <br>
        <div class="sub_head">
            Dont tailgate
        </div>
        No matter how slowly traffic is moving, keep at least two seconds of following distance between you and the car ahead.<br>
        Any less and you won’t be able to stop in time if the driver ahead slams on the brakes.<br>
        This is a law in some states offering fines and demerit points<br>
        <br>
        <div class="sub_head">
            Limit distractions
        </div>
        Pullover if you need to talk on the phone, read directions, or eat a snack.<br>
        It only takes a second or two of distractions to get into trouble <br>
        In 2016 13% of accidents could have been avoided if the drive wasnt distracted<br>

    </div>
    <br>
    <br>
    <br>


    <button class="button", onclick="window.location='Test_1';" >
        <span>Take the test!</span>
    </button>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>

<!-- Footer -->
<div class="footer">
    <p>
        foooter  - this is only here for style, might add some quick links there later or something
    </p>
</div>

</html>