{% extends "Module_template.html" %}
{% block content %}
<div class="no">
    <div class="m1_head">
        Test 3
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/final_exam.png')}}" alt="inside car image">

    </div>

    <div class="info">
        <div class="sub_head">
            Your last test!
        </div>
        Pass this next test and you will recieve your certificate of vehicular collision confidence


    </div>
    <br>
    <br>
    <br>


    <button class="button" onclick="window.location='Test_3';" >
        <span>Take the test!</span>
    </button>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}