{% extends "Module_template.html" %}
{% block content %}
<div class="no">
    <div class="m1_head">
        Module 2: What to do after the collision
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/car_accident.jpeg')}}" alt="inside car image">

    </div>

    <div class="info">
        <div class="sub_head">
            What should I do immediately after a car crash?
        </div>
        If you crash into another vehicle or object, stop your car immediately, apply the handbrake and switch on your hazard lights.        <br>
        <br>
        Make sure that it’s safe to exit your car, then carefully approach other vehicles that are involved to check if anyone at the scene is injured. <br>
        Call emergency services on 000 if help is needed.      <br>
        If emergency services are needed, stay at the scene until they arrive. <br>
        Once the crash scene is safe, there are some important details you’ll need to collect to ensure any claims resulting from the crash can be dealt with quickly        <br>
        <br>



        <div class="sub_head">
            What details do I need?
        </div>
        WA law mandates that drivers involved in a crash must stop and supply their name and address. <br>
        Where the driver is not the vehicle's owner, they must provide the owner's name and address.  <br>
        If they refuse, call the police.  <br>
        If a driver's injuries prevent them from supplying a name and address,  <br>
        this may be used as a defence for not providing these details at the crash site.
        <br> <br> 
        In addition to a full name and address, you should also collect other contact details, including phone numbers, email addresses, and driver’s license number<br> 
        Record the registration number, make and model of all vehicles involved <br> 
        Record the time, date, and precise location of the crash and everything you can remember about what happened.<br> 
        Take photos of the incident and damage to other vehicles or property, if it’s safe to do so.<br> <br> 
        <div class="sub_head">
            When do I need to report a crash to police?
        </div>
        According to WA Police, <br>
        you must report a traffic crash when the incident occurred on a road or any place commonly used by the public <br>
        (such as a carpark) and where:
        <ul>
            <li>
                the incident resulted in bodily harm to a person; or
            </li>
            <li>
                the total value of property damaged to all involved parties exceeds $3000; or
            </li>
            <li>
                the owner or representative of the damaged property isn’t present.
            </li>
        </ul>

        <br>
        <br>
        <div class="sub_head">
            If your vehicle is not safe to drive
        </div>
        If a tow truck is needed, contact your insurance company to see what assistance they can provide.<br> 
        Remember, only you or the police can authorise for your vehicle to be towed.<br> 
        Check that any tow truck operator arriving at the scene has the same business name provided to you by your insurer when you requested the service. <br> 
        Remember, you’re not obliged to engage the first tow truck operator on the scene, <br> 
        even where traffic flow is impacted (unless the police instruct otherwise).
        <br>


    </div>
    <br>
    <br>
    <br>


    <button class="button" onclick="window.location='Test_2';" >
        <span>Take the test!</span>
    </button>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}