<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/module_style.css')}}">
<script src="{{url_for('static', filename='java/java.js')}}"></script>



<!-- navbar -->
<div class="navbar">
    <a href="/">Home</a>
    <a href="Module_1">Module 1</a>
    <a href="Module_2">Module 2</a>
    <a href="Module_3">Module 3</a>

    <a href="Login" style="float: right;">Log In</a>
    <a href="Login" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>

<br>
<body>
<div class="yup">
.
<br/>
</div>

<div class="no">
    <div class="m1_head">
        Test 3
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/final_exam.png')}}" alt="inside car image">

    </div>

    <div class="info">
        <div class="sub_head">
            Your last test!
        </div>
        Pass this next test and you will recieve your certificate of vehicular collision confidence


    </div>
    <br>
    <br>
    <br>


    <button class="button", onclick="window.location='Test_3';" >
        <span>Take the test!</span>
    </button>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>

<!-- Footer -->
<div class="footer">
    <p>
        foooter  - this is only here for style, might add some quick links there later or something
    </p>
</div>

</html>