<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8">
<title>CITS3403-PROJECT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/test_style.css')}}">
<script src="{{url_for('static', filename='java/java.js')}}"></script>


<!-- navbar -->
<div class="navbar">
    <a href="/">Home</a>
    <a href="Module_1">Module 1</a>
    <a href="Module_2">Module 2</a>
    <a href="Module_3">Module 3</a>

    <a href="Login" style="float: right;">Log In</a>
    <a href="CreateAccount" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>

<br>
<div>
<div class="yup">
.
<br/>
</div>


<div class="main">

    {% block content %}
    {% endblock %}  
    
</div>

<!-- Footer -->
<div class="footer">
    <p>
         
    </p>
</div>

</html>