{% extends "Test_template.html" %}
{% block content %}


<div class="main">
    <div class="t_head">
        Test 2: What to do after the collision
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/inside1.jpg')}}" alt="inside car image">

    </div>

    <div class="test_space" id="test">
        <form action='/Test_2_Results' method='POST'>
            <ol>
                <li>
                {% for i in q %}
                    <div class="blue-left div-bg">
                    <p class="question">{{i}}</p>
                    {% for j in o[i] %}
                        <div class="answer"><input type='radio' value="{{j}}" name='{{i}}' />{{j}}<br></div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </li>
            </ol>
            <input class="button" type="submit"/>
            <input class="button" type="reset"/>
        </form>


        

        <!-- <input type="button" id="btn" value="Ceck!" class="button" onclick="check_marks()"> -->
        
    </div>

    <div class="marks" style="display: none;" id="marks">
        <span id="points"></span>
        <br>
        <br>
        <br>
        
        Please enter final marks below
        <form method="POST">
            <input type="text" id="final_mark" name="final_mark" value = ""> <br>
        </form>

       
        <button class="button" onclick="window.location='Module_1';" >
            <span>Next Module</span>
        </button>
        <button class="button" onclick="window.location='Test_1';" >
            <span>Try again</span>
        </button>       

    </div>

    <br>
    <br>
    <br>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}