{% extends "Test_template.html" %}
{% block content %}

<div class="main">
    <div class="t_head">
        Final Exam
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/final_exam.png')}}" alt="final exam image">

    </div>

    <div class="test_space" id="test">
        <form action='/Test_3_Results' method='POST'>
            <ol>
                <li>
                {% for i in q %}
                    <div class="blue-left div-bg">
                    <p class="question">{{i}}</p>
                    {% for j in o[i] %}
                        <div class="answer"><input type='radio' value="{{j}}" name='{{i}}' />{{j}}<br></div>
                    {% endfor %}
                    </div>
                {% endfor %}    
                </li>
            </ol>
            <input class="button" type="submit"/>
            <input class="button" type="reset"/>
        </form>

        
    </div>


    <br>
    <br>
    <br>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}