<!DOCTYPE html>
<html id=format_text>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static', filename='css/test_style.css')}}">
<script src="{{url_for('static', filename='java/java.js')}}"></script>


<!-- navbar -->
<div class="navbar">
    <a href="Homepage">Home</a>
    <a href="Module_1">Module 1</a>
    <a href="Homepage">Module 2</a>
    <a href="Homepage">Module 3</a>

    <a href="Login.html" style="float: right;">Log In</a>
    <a href="Login.html" style="float: right;">Register</a>

</div>


<!-- HEADER, probably gonna be on every page -->
<div class="bigHead">
    <h1>  Car Class Conserving and Accident Avoidance 
        <br/>
    </h1>
    
    
</div>

<br>
<body>
<div class="yup">
.
<br/>
</div>


<div class="main">
    <div class="t_head">
        Test 1: Accident Avoidance
    </div>

    <br>
    <div class="title_image">
        <img src="{{url_for('static', filename='img/inside1.jpg')}}" alt="inside car image">

    </div>

    <div class="test_space">
        <div class="question_number">
            Question 1 of 5:
        </div>
        <div class="question">
            Should you drive below the speed limit?
        </div>

        <form class="answers">
            <div class="answer">
                <input type="radio" id="yes" name="q1" value="yes" style="cursor: pointer;">
                <label for="yes" style="cursor: pointer;" >Yes</label>
            </div>
            
            <div class="answer">
                <input type="radio" id="no" name="q1" value="no" style="cursor: pointer;" >
                <label for="no" style="cursor: pointer;" >No</label>
            </div>
            

            <input type="submit" value="Next >" class="button">
            
        </form>
        
        
    </div>
    <br>
    <br>
    <br>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>

<!-- Footer -->
<div class="footer">
    <p>
        foooter  - this is only here for style, might add some quick links there later or something
    </p>
</div>

</html>